---
layout: default
title: "About"
---

{% include header.html %}

<section class="section">
    <div class="container is-10 is-offset-2">
        <div class="columns">
            <div class="column is-4 is-offset-2">
                <h1 class="title">Our mission</h1>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4 is-offset-2">
                <div class="content">
                    <p>
                        We believe that innovative audio technology should be accessible to everyone,
                        regardless of their technical know-how or budget. That's why we create easy-to-use
                        and affordable mobile apps that use advanced technology to improve your everyday life.
                    </p>
                </div>
            </div>
            <div class="column is-4">
                <div class="content">
                    <p>
                        Our products are based on 15 years of experience in pioneering audio research
                        and user experience design. We use this expertise to design and build products
                        that make cutting-edge audio technology accessible, fun, and delightful to use.
                    </p>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4 is-offset-2">
                <h1 class="title">Our story</h1>
            </div>
        </div>
        <div class="columns">
          <div class="column is-4 is-offset-2">
            <div class="content">
            Founder Chris Baume has worked at the forefront of audio technology research for over 15 years.
            Chris was a Lead Research Engineer at BBC Research and Development, where he co-led the audio research group.
            He is interested in how technology can be used to unlock people's creative potential. His research focuses
            on the efficient production of personalised, immersive, and accessible audio experiences through the
            application of DSP, machine learning, and user-centred design techniques. He managed the BBC Audio Research
            Partnership which sponsored over thirty students and launched ten collaborative projects worth £30M.
            He was co-investigator on the AI for Future Personalised Media Experiences (AI4ME) partnership, where he
            led the research on production tools. He also led the production tools work stream of the EU project ORPHEUS
            on object-based audio. He earned his PhD at the Centre for Vision, Speech and Signal Processing (CVSSP) at the University of Surrey. 
            </div>
          </div>
          <div class="column is-4">
            {% picture portrait.jpg --alt Portrait photo of Chris Baume %}
          </div>
        </div>

        <!-- <div class="columns">
          <div class="column">
            <h1>Experience</h1>
            <div class="inner">
            <p><strong>Lead Research Engineer</strong><br/>
                <a href="https://www.bbc.co.uk/rd" target="_blank">BBC</a><br/>
                2008 — 2023</p>
            <p><strong>Co-investigator</strong><br/>
                <a href="https://ai4me.surrey.ac.uk/" target="_blank">AI4ME</a><br/>
                2021 — 2023</p>
            <p><strong>Co-investigator</strong><br/>
                <a href="https://www.orpheus-audio.eu/" target="_blank">ORPHEUS</a><br/>
                2015 — 2018</p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <h1>Education</h1>
            <div class="inner">
            <p><strong>Doctor of Philosophy</strong><br/>
                University of Surrey<br/>
                2014 — 2018</p>
            <p><strong>Master of Engineering</strong><br/>
                University of York<br/>
                2004 — 2008</p>
            </div>
        </div>
        <div class="columns">
          <div class="column">
            <h1>Publications</h1>
            <div class="inner">
            <p><strong>Semantic Audio Tools for Radio Production</strong><br/>
                PhD thesis<br/>
                Apr 2018</p>
            <p><strong>Interactive Audio Augmented Reality in Participatory Performance</strong><br/>
                Frontiers in Virtual Reality<br/>
                Feb 2021</p>
            <p><strong>PaperClip: A Digital Pen Interface for Semantic Speech Editing in Radio Production</strong><br/>
                Journal of the Audio Engineering Society<br/>
                Apr 2018</p>
            </div>
        </div> -->
    </div>
</section>

{% include footer.html %}