
<footer class="footer">
    <div class="container">
       <div class="columns">
        <div class="column is-one-third">
          <div class="content is-small">
            <p>{% picture logo_footer sonic-baume-logo-light.png --alt Logo %}</p>
            <p>Sonic Baume LTD is registered in England.<br/>Company number: 13994085.<br/>Registered office: St Albans, AL1 3XQ.</p>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="content">
            <p class="subtitle is-5">
              <span class="icon">
                <i class="fa-solid fa-paper-plane"></i>
              </span> Get in touch</p>
            <div class="content">If you’d like more information or want to explore collaboration opportunities, please get in touch.</div>
            <script type="text/javascript">
              document.write("<n pynff=\"ohggba vf-zrqvhz vf-yvtug\" uers=\"znvygb:fbavp@onh.zr\" gnetrg=\"_oynax\"><fcna pynff=\"vpba\"><v pynff=\"sn-fbyvq sn-rairybcr\"></v></fcna></n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
            </script>
            <a class="button is-medium is-light" href="https://www.linkedin.com/in/baume/" target="_blank">
              <span class="icon">
                <i class="fa-brands fa-linkedin"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="column is-one-third">
          <div class="content">
            <p class="subtitle is-5">
              <span class="icon">
                <i class="fa-solid fa-ribbon"></i>
              </span> Giving back</p>
            <div class="content">We donate 10% of our profits to <a href="https://www.againstmalaria.com/" target="_blank">The Against Malaria Foundation</a>. To date, we have funded over 25,000 bednets to protect those most at risk from malaria.</div>
            <a class="button is-light" href="https://www.givewell.org/charities/amf" target="_blank">Learn more</a>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="content is-small">
            &copy; 2023 Sonic Baume LTD | <a href="#">Privacy policy</a>
          </div>
        </div>
      </div>
    </div>
  </footer>