
<nav class="navbar is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
  <div class="container">
  <div class="navbar-brand">
    <a class="navbar-item" href="/" style="padding: 0;">
      {% picture logo_navbar sonic-baume-square-logo.png --alt Logo %}
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/products.html">
        Products
      </a>
      <a class="navbar-item" href="/portfolio.html">
        Portfolio
      </a>
      <a class="navbar-item" href="/about.html">
        About
      </a>
    </div>
  </div>
  </div>
</nav>