<section class="hero is-medium is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <h1 class="title is-2 is-spaced">
              Sonic Baume
            </h1>
            <h2 class="subtitle is-4">
                Congratulations! You're running the <strong>Bulma start</strong> project.
                <br>
                It includes everything you need to <strong>build your own website</strong> with Bulma.
            </h2>
            <button class="button is-link is-large">Press me</button>
          </div>
        </div>
      </div>
    </div>
  </section>