---
layout: default
---
{% include header.html %}
<section class="hero is-medium is-primary">
    <div class="hero-body">
      <div class="container">
        <section class="section">
        <div class="columns is-centered is-vcentered is-5">
          <div class="column is-two-thirds-desktop">
            <h1 class="title is-1 is-spaced">
              Breaking barriers with sound
            </h1>
            <h4 class="subtitle is-4">
              We use innovation in audio technology to create a positive impact in people's lives
            </h4>
          </div>
        </div>
        </section>
        <section class="section">
        <div class="columns is-centered is-vcentered">
          <div class="column is-half-widescreen is-two-thirds-tablet">
          <form class="box">
            <label class="label is-large">Follow our journey</label>
            <div class="field has-addons">
              <div class="control has-icons-left is-expanded">
                <input class="input is-medium" type="email" placeholder="Email">
                <span class="icon is-left">
                  <i class="fas fa-envelope fa-sm"></i>
                </span>
              </div>
              <div class="control">
                <a class="button is-info is-medium">
                  Sign up
                </a>
              </div>
            </div>
            <p class="help">Something about the privacy policy</p>
          </form>
        </div>
        </section>
      </div>
    </div>
  </section>
{% include footer.html %}