---
layout: default
---
{% include header.html %}
<section class="section no-top-padding">
  <div class="columns is-centered">
    <div class="column is-two-thirds-tablet is-half-widescreen">
      <figure class="image is-1x1">
        {% picture product_full {{ page.image }} --alt {{ page.title }} %}
      </figure>
    </div>
  </div>
  <div class="columns is-centered">
    <div class="column is-two-thirds-tablet is-half-widescreen">
      <h1 class="title">{{ page.title }}</h1>
      <p class="subtitle is-4">{{ page.subtitle }}</p>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>
</section>
{% include footer.html %}