---
layout: default
---
{% include header.html %}
<section class="section">
  <div class="columns">
    <div class="column is-4-fullhd is-offset-4-fullhd is-6-widescreen is-offset-3-widescreen is-8-desktop is-offset-2-desktop is-10-tablet is-offset-1-tablet">
      <figure class="image is-1x1">
        {% picture project_full {{ page.image }} --alt {{ page.title }} %}
      </figure>
    </div>
  </div>
  <div class="columns">
    <div class="column is-6-fullhd is-offset-3-fullhd is-10-tablet is-offset-1-tablet">

      <h1 class="title">{{ page.title }}</h1>
      {{ content }}
    </div>
  </div>
</section>
